{% extends 'base.html' %}
{% load operators_extras %}
{% load strops_extras %}

{% block head-extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous"></script>
{% endblock head-extra %}

{% block content %}
<div class="jumbotron">
  <h1>{{scheme.name}}</h1>
</div>
<div class="container">
  <section>
    <h3>Expansion details</h3>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>Source scale</td>
          <td>{{scheme.source_scale|scale_name}}</td>
        </tr>
        <tr>
          <td>Target scale</td>
          <td>{{scheme.target_scale|scale_name}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{scheme.description}}</td>
        </tr>
      </tbody>
    </table>
    <h4>Expansion Parameters</h4>
    {% if scheme.expansion_parameters.first %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Symbol</td>
          <th scope="col">Approx size</td>
          <th scope="col">Description</td>
        </tr>
      </thead>
      <tbody>
        {% for par in scheme.expansion_parameters.all %}
        <tr>
          <td>${{par.symbol|tex}}$</td>
          <td>{{par.natural_size|tex}}</td>
          <td>{{par.description|tex}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    No expansion parameters
    {% endif %}
  </section>
  <hr class="my-5" />
  <section>
    <h3>Implemented operators</h3>
    <div class="row my-4">
      <div class="col-md-6">
        <h4>{{scheme.source_scale|scale_name}} scale</h4>
        <div class="list-group">
          {% for operator in source_operators %}
        <a href="{{ operator.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">${{operator.expression|tex}}$</h5>
            <p>{{operator.name|title}}</p>
          </div>
          {% if operator.details %}<p class="mb-1">{{operator.details}}</p>{% endif %}
        </a>
        {% endfor %}
</div>
</div>
<div class="col-md-6">
  <h4>{{scheme.target_scale|scale_name}} scale</h4>
  <div class="list-group">
    {% for operator in target_operators %}
    <a href="{{ operator.get_absolute_url }}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">${{operator.expression|tex}}$</h5>
        <p>{{operator.name|title}}</p>
      </div>
      {% if operator.details %}<p class="mb-1">{{operator.details}}</p>{% endif %}
    </a>
    {% endfor %}
  </div>
</div>
</div>
<h4>Connections</h4>
{{connection_graph|safe}}
</section>
{% if scheme.references %}
<hr class="my-5" />
<section>
  <h3>References</h3>
  <div class="list-group">
    {% for reference in scheme.references.all %}
    <a href="{{reference.url}}" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{reference.title}}</h5>
        {% if reference.preprint_date %}<p><small class="text-muted">{{reference.preprint_date}}</small></p>{% endif %}
      </div>
      <p>{% if reference.journal %}{{reference.journal}} |{% endif %} {{reference}}</p>
      <p>{{reference.authors|truncatewords:20}}</p>
      {% if reference.misc %}<p>{{reference.misc}}</p>{% endif %}
    </a>
    {% endfor %}
  </div>
</section>
{% endif %}
</div>
{% endblock %}
