{% extends 'base.html' %}
{% load operators_extras %}
{% load schemes_extras %}
{% load strops_extras %}


{% load bootstrap4 %}

{% block head-extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous"></script>
{% endblock head-extra %}
{% block content %}
<div class="jumbotron">
  <h1>{{ branch|map_scale_names|join:" &rarr; " }}</h1>
  <h3 class="mb-0">{% for scheme in schemes %}<a href="{{scheme.get_absolute_url}}">{{scheme.name|title}}</a>{% if not forloop.last %} &rarr; {% endif %} {% endfor %}</h3>
</div>
<div class="container">
  <section>
    <h3>Operator Contributions</h3>
    <p class="my-2 text-muted">You can select specific entries to highlight their contributions.</hp>

      {{connection_graph|safe}}
  </section>
  <section>
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="card-title">Specify the Lagrangian at the {{branch|map_scale_names|first}} scale</h2>
          <p class="my-2 text-muted">{{formset.0.factor.help_text}}</hp>
          <form method="post" class="form">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="row justify-content-md-center">
              {% for form in formset %}
              <div class="col-12 col-md-6">
                <div class="form-group">
                  {% bootstrap_form form exclude="factor" %}
                  {% bootstrap_field form.factor addon_before=form.factor.label show_help=False show_label=False %}
                </div>
              </div>
              {% endfor %}
            </div>
            {% buttons %}
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% endbuttons %}
          </form>
      </div>
    </div>
  </section>
  <section>
    {% if source_lagrangian %}
    <h3>Lagrangians</h3>
    <h4>Source lagrangian</h4>
    $$\mathscr{L} = {{source_lagrangian|tex}}$$
    {% endif %}
    {% if target_lagrangian %}
    <h4>Target lagrangian</h4>
    $$\mathscr{L} = {{target_lagrangian|tex}}$$
    {% endif %}
    {% if parameters %}
    <h4>Parameters</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Symbol</td>
          <th scope="col">Name</td>
          <th scope="col">Value</td>
          <th scope="col">Unit</td>
          <th scope="col">Reference</td>
        </tr>
      </thead>
      <tbody>
        {% for par in parameters %}
        <tr>
          <td>${{par.symbol|tex}}$</td>
          <td>{{par.name|title}}</td>
          <td>{{par.get_value}}</td>
          <td>{{par.get_unit}}</td>
          <td><a href="{{par.reference.url}}" target="_blank">{{par.reference}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {{missing_symbols}}
  </section>
</div>
{% endblock %}
