{% load operators_extras %}
{% load strops_extras %}


<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{scheme.name}}</h5>
    <h6 class="text-muted">{{scheme.description}}</h6>
    {% if display_scales %}
    <p class="card-text my-0">Scales:
      {{scheme.source_scale|scale_name}} &rarr; {{scheme.target_scale|scale_name}}
    </p>
    {%endif%}
    {% if scheme.references %}
    <p class="card-text my-0">References:
      {% for reference in scheme.references.all %}
      <a href="{{reference.url}}" target="_blank">{{reference}}</a>{% if not forloop.last %}, {%endif%}
      {% endfor %}
    </p>
    {%endif%}
    <div class="row my-0">
      <div class="col-md-3">
        <p class="card-text my-1">
          <small class="text-muted">
            Expansion:
            {% for par in scheme.expansion_parameters.all %}
            ${{par.symbol|tex}}${% if not forloop.last %},{%endif%}
            {% endfor %}
          </small>
        </p>
      </div>
      <div class="col-md-3">
        <p class="card-text">
          <small class="text-muted">
            Relations: {{scheme.relations.distinct.count}}
          </small>
        </p>
      </div>
      <div class="col-md-3">
        <p class="card-text">
          <small class="text-muted">
            {{scheme.source_scale|scale_name}} operators: {{scheme.related_source_operators.distinct.count }}
          </small>
        </p>
      </div>
      <div class="col-md-3">
        <p class="card-text">
          <small class="text-muted">
            {{scheme.target_scale|scale_name}} operators: {{scheme.related_target_operators.distinct.count }}
          </small>
        </p>
      </div>
    </div>
    <a href="{{scheme.get_absolute_url}}" class="card-link" {% if new_tab_link %}target="_blank"{% endif %}>More details</a>
  </div>
</div>
