{% extends 'base.html' %}
{% load schemes_extras %}
{% load static %}

{% block head-extra %}
<link rel="stylesheet" href="{% static 'strops.css' %}">
{% endblock head-extra %}


{% block content %}
{% if title %}
<div class="jumbotron">
  <h1>{{title}}</h1>
  {% if subtitle %}<p>{{subtitle}}</p>{% endif %}
</div>
{% endif %}
<div class="container">
  <div id="branch-select">
    {% for branch, formset in formsets.items %}
    {% render_scale_branch_formset branch formset %}
    {% endfor %}
  </div>
</div>
<script>
  $(document).ready(function() {
    renderMathInElement(
      document.body, {
        delimiters: [{
            left: "$",
            right: "$",
            display: false
          },
        ]
      }
    );
  });
</script>
{% endblock %}
