{% load schemes_extras %}

<div class="card-text">
  <ul class="list-group">
    {% for scheme in field.field.queryset %}
    <li class="list-group-item py-0 px-0 hover-shadow">
      <div class="row align-items-center w-100 mx-0">
        <div class="col-sm-1 text-center">
          <input type="radio" name="{{field.html_name}}" value="{{scheme.pk}}" id="{{field.id_for_label}}" {% if forloop.first %}checked{% endif %}>
        </div>
        <div class="col-sm-11 px-0">
          <label class="form-check-label w-100" for="{{field.id_for_label}}">
            {% summarize_scheme scheme %}
          </label>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
</li>
