<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{scheme.name}}</h5>
    <h6 class="text-muted">{{scheme.description}}</h6>
    {% if scheme.references %}<p class="card-text">References:
      {% for reference in scheme.references.all %}
      <a href="{{reference.url}}" target="_blank">{{reference}}</a>{% if not forloop.last %}, {%endif%}
      {% endfor %}
    </p>{%endif%}
    <a href="{{scheme.get_absolute_url}}" class="card-link" target="_blank">More details</a>
  </div>
</div>
