{% load static %}
{% load bootstrap4 %}
{% load base_extras %}
{% load strops_extras %}


<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>strops</title>
  <link rel="icon" sizes="32x32" type="image/vnd.microsoft.icon" href="{% static 'icons/favicon.ico' %}" />
  <link rel="icon" sizes="128x128" type="image/icns" href="{% static 'icons/favicon.icns' %}" />
  <link rel="icon" sizes="144x144" type="image/x-icon" href="{% static 'icons/favicon.png' %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'icons/favicon.png' %}">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css" integrity="sha512-SBL9R0mkYbWGuy/0DLHNxYHPScUMar9Y55t8vrnN42ZYfLZ4SnjXqCFfEhPTnj9pedAs5F+WZkzjq1qGS8+VGg==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js" integrity="sha512-2k+W+3OGhtd3whnGt33ek/oA1M/aqB6Mir+WIcCrSuIC2yD6iTX6IuPf5q1oEJGQT06jma5K6ca7Xqb4u7Urow==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/contrib/auto-render.min.js" integrity="sha512-GicGrbLBXJh2kbF+DYD+sCW5hPavoOfVAKSOE7+qgYCgVTcwe+/D4LXegS9JVTY72ovc5Ung4Fml+i1uD3uOyQ==" crossorigin="anonymous"></script>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'strops.css' %}" rel="stylesheet">
  {% block head-extra %}
  {% endblock%}
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
      {% block nav %}
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'base:index' %}">
        <span>strops</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {% block nav-app-links %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop-data" role="button" data-toggle="dropdown">
              <i class="fa fa-database mx-1" aria-hidden="true"></i>Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbardrop-data">
              <a class="dropdown-item" href="{% url 'operators:operator-list' %}">Operators</a>
              <a class="dropdown-item" href="{% url 'schemes:scheme-list' %}">Expansion schemes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop-mappings" role="button" data-toggle="dropdown">
              <i class="fa fa-connectdevelop mx-1" aria-hidden="true"></i>Mappings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbardrop-mappings">
              <a class="dropdown-item" href="{% url 'schemes:op-mapping-source-scale' %}">Operators</a>
            </div>
          </li>
          {% endblock nav-app-links %}
          {% block nav-default-links %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop-docs" role="button" data-toggle="dropdown">
              <i class="fa fa-book mx-1"></i>Documentation
            </a>
            <div class="dropdown-menu" aria-labelledby="navbardrop-docs">
              <a class="dropdown-item" href="/documentation/references/">References</a>
              <a class="dropdown-item" href="/documentation/parameters/">Parameters</a>
              <a class="dropdown-item" href="/documentation/operators/">Operators</a>
              <a class="dropdown-item" href="/documentation/schemes/">Schemes</a>
            </div>
          </li>
          {% endblock nav-default-links %}
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ckoerber/strops/" target="_blank">
              <i class="fa fa-github mx-1"></i>Source
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/ckoerber/strops/issues" target="_blank">
              <i class="fa fa-comments-o mx-1"></i>Feedback
            </a>
          </li>
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
              <i class="fa fa-cog mx-1"></i>Admin
            </a>
          </li>
          {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text"><i class="fa fa-user mx-1"></i><b>{{user}}</b></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt mx-1"></i>Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}"><i class="fas fa-sign-in-alt mx-1"></i>Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endblock nav %}
    </nav>
  </header>
  <main role="main">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
    <ol class="breadcrumb bg-light my-1 py-0 text-muted">
      {% get_version as strops_commit %}
      {% if strops_commit %}
      <li class="breadcrumb-item"><code>strops</code> commit: {{strops_commit}}</li>
      {% endif %}
      <li class="breadcrumb-item">EspressoDB version: {% render_version %}</li>
      {% if user.is_authenticated %}
      <li class="breadcrumb-item">Database: {% render_db_info %}</li>
      {% endif %}
    </ol>
    {% endblock %}
  </footer>
  <script>
    $(document).ready(function() {
      renderMathInElement(document.body, {
        delimiters: [{
            left: "$$",
            right: "$$",
            display: true
          },
          {
            left: "$",
            right: "$",
            display: false
          },
          {
            left: "\\(",
            right: "\\)",
            display: false
          },
          {
            left: "\\[",
            right: "\\]",
            display: true
          }
        ]
      });
    });

  </script>
</body>

</html>
