{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
  <h1>Welcome to <b>Str</b>ong <b>Op</b>erators</h1>
  <p class="mb-0">This is the development page of <code>strops</code></p>
  <p class="mb-0"><a href="{% url 'physics-about' %}">What is the physics motivation?</a></p>
</div>
<div class="container">
  <section>
    <h2>What is the purpose?</h2>
    <p>
      This project aims at providing an open-source module for the systematic mapping of BSM-quark-gluon interactions over BSM-nuclear interactions to experimental observables.
      The primary BSM candidate for the module is mapping DM structures&mdash;though different processes like searches for 0𝜈ββ decays are of interested as well.
      The module is intended to allow setting parameters at the SM-BSM scale to obtain all relevant operators (combined chiral and BSM parameter expansion) in the desired basis to be used in many-nucleon computations.
      Furthermore, it is intended to collect and connect existing computations to implemented operators.
      This module is expected to benefit the experimental community in translating measurements to fundamental constraints and helps the high-energy theory community provide input for many-nucleon computations.
      Systematic improvements in intermediate results, like improvements in the computation of related SM parameters, are intended to be incorporated in a database such that continuous progress will be shared.
    </p>
  </section>
  <section>
    <h2>Disclaimer&mdash;early alpha warning</h2>
    <h4></h4>
    <p>
      This project is work in progress (early alpha).
      While interest, feedback, and help in any form are appreciated, we emphasize that details may change and advise you not to base your computations on the current state, yet.
    </p>
  </section>
  <section>
    <h2>What to find where?</h2>
    <ul>
      <li>
        All implemented operators and expansion schemes can be found in the data area.
      </li>
      <li>
        The operator mappings tab allows to connect operators at different scales.
      </li>
      <li>
        The documentation page describes the data structures.
      </li>
      <li>
        Once you are logged in, you have access to the admin area to mange entries.
      </li>
    </ul>
  </section>
  <section>
    <h2>Feedback or interested in helping?</h2>
  </section>
</div>
{% endblock %}
